## INPUT - OUTPUT
---

Variabel

Variabel adalah sebuah tempat (memori komputer) untuk menyimpan nilai dengan tipe data tertentu.  Untuk memberikan nilai pada sebuah variabel, dapat menggunakan operator "=" diantara nama variabel dengan nilai yang diinginkan.

In [ ]:
a = 3

##### Print()
---
Fungsi print() adalah sebagai cara output langsung ke koneksi atau layar

In [ ]:
print("Apa Kabar?")

Untuk memasukkan nilai pada variabel string, ada beberapa cara

+ Langsung menggabungkan variabel pada statement print()
---

In [ ]:
a = 3

In [ ]:
type(a)

In [ ]:
print("Nilai variabel a adalah", a)

In [ ]:
print("Saya tinggal di kota {}". format("Jakarta"))

In [ ]:
kota = "Jakarta"

In [ ]:
print("Saya tinggal di kota", kota)

+ Untuk menampilkan text(string), bisa menggunakan mekanisme string format
---

In [ ]:
print("saya tinggal di kota {}". format(kota))

In [ ]:
print("Kelas saya adalah {}". format("Kelas B"))

+ Menggunakan operator '%' yang digambarkan dengan "argumen specifiers"
---

Beberapa yang sering digunakan:
1. %s - string
2. %d - integer
3. %f - bilangan desimal

In [ ]:
nama = "Arin"

In [ ]:
umur = 23

In [ ]:
print("Umur %s adalah %d tahun." %(nama, umur))

#### ***Input***
---
Untuk memungkinkan umur memberikan input pada program anda, gunakan fungsi input() dengan argumen buka-tutup kurung "()" adalah teks yang ingin ditampilkan (prompt) dan variabel sebelum tanda (=) adalah penampung hasil pengguna

In [ ]:
input()

In [ ]:
nama = input("nama saya:")

In [ ]:
print(nama)

Secara default, input umur dari user adalah ***string***

In [ ]:
input()

In [ ]:
umur = input("umur saya:")

In [ ]:
print(umur)

In [ ]:
angka = input()

In [ ]:
type(angka)

Menambahkan ***int(input())*** akan menjadikan type data menjadi ***integer***, karena semua angka apabila diberi input() maka akan menjadi string

In [ ]:
angka = int(input())

In [ ]:
type(angka)

#### Task
---

In [ ]:
menu = 'Nasi Bakar'

In [ ]:
jumlah = 3

In [ ]:
print("Menu %s hari ini ada %d porsi." %(menu, jumlah))

In [ ]:
input()

In [ ]:
nama = input("Masukkan nama anda: ")

In [ ]:
whatsapp = input("Masukkan nomor whatsapp anda: ")

In [ ]:
email = input("Masukkan alamat email anda: ")

In [ ]:
print("Terimakasih! Berikut informasi yang anda masukkan:")
print("Nama:", nama)
print("Nomor Whatsapp:", whatsapp)
print("Alamat Email:", email)
print("Sampai jumpa!")